body {
    position: relative;
    width: 1350px;
    height: 1897px;
    background: #F3F8FF;
    left: 260px;
}
.header {
    position: absolute;
    width: 1350px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.17);
}

.header_logo{
    position: absolute;
    left: 2.22%;
    right: 83.7%;
    top: 25%;
    bottom: 25%;
    background-color: #A993FF;
    width: 190px;
    height: 40px;

}

.header_logo_link{
    position: absolute;
    left: 16.64%;
    right: 14.92%;
    top: 34.87%;
    bottom: 32.06%;
}

.header_nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    left: 32.22%;
    right: 32%;
    top: 32.5%;
    bottom: 27.5%;

}

/* montserrat-600 - cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../font/montserrat-v23-cyrillic-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/montserrat-v23-cyrillic-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-500 - cyrillic */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../font/roboto-v29-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../font/roboto-v29-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }


.catalog {
    position: static;
    width: 83px;
    height: 32px;
    left: 0px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    font-feature-settings: "cpsp" on;
    color: black;
    text-decoration: none;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 47px;
}

.cartochka {
    position: static;
    width: 97px;
    height: 32px;
    left: 130px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    font-feature-settings: "cpsp" on;
    color: black;
    text-decoration: none;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 47px;
}

.menu3 {
    position: static;
    width: 81px;
    height: 32px;
    left: 274px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    font-feature-settings: "cpsp" on;
    color: black;
    text-decoration: none;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 47px;
}

.menu4 {
    position: static;
    width: 83px;
    height: 32px;
    left: 401px;
    top: 0px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    font-feature-settings: "cpsp" on;
    color: black;
    text-decoration: none;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 0px 47px;
}

.header_button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;
    position: absolute;
    left: 88.67%;
    right: 2.07;
    top: 25%;
    bottom: 25%;
    background: #ff403c;
    border-radius: 4px;
    width: 125px;
    height: 40px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0%;
    position: static;
    width: 77px;
    height: 16px;
    left: 24px;
    top: 12px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.button_arrow {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 78px;
    top: 10px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 8px;

}

.button_text {
    position: absolute;
    width: 53px;
    height: 16px;
    right: 30px;

    /* ui / button */

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    /* identical to box height, or 100% */

    display: flex;
    align-items: center;
    text-align: center;

    /* brand / white */

    color: #FFFFFF;

    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}

.catalog_line {
    position: absolute;
    left: 360px;
    right: 900px;
    top: 98%;
    bottom: 0%;
    background: #A993FF;
}

.main_header {
    position: absolute;
    width: 1350px;
    height: 182px;
    left: 0px;
    top: 80px;
    background: rgba(132, 101, 255, 0.7);
    opacity: 0.17;
}

.main_text {
    position: absolute;
    width: 534px;
    height: 61px;
    left: 410px;
    top: 143px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 127%;
    text-align: center;
    color: #283C63;
    margin: 0;

}

.filter {
    position: absolute;
    width: 300px;
    height: 850px;
    left: 30px;
    top: 310px;
}

.filter_item {
    position: absolute;
    width: 300px;
    height: 850px;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

.main {
    position: absolute;
    width: 960px;
    height: 1230px;
    left: 360px;
    top: 310px;
}

.main_item1 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item2 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 330px;
    top: 0px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item3 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 660px;
    top: 0px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item4 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 0px;
    top: 420px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item5 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 330px;
    top: 420px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item6 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 660px;
    top: 420px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item6 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 660px;
    top: 420px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item7 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 0px;
    top: 840px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item8 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 330px;
    top: 840px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_item9 {
    position: absolute;
    width: 300px;
    height: 390px;
    left: 660px;
    top: 840px;
    filter: drop-shadow(0px 10px 25px rgba(0, 0, 0, 0.17));
}

.main_rectangle {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 48.97%;
    bottom: 0%;

    background: #FFFFFF;
    border-radius: 10px;
}

.footer {
    position: absolute;
    width: 1352px;
    height: 271px;
    left: 0px;
    bottom: -1px;
    background: #FFFFFF;
}

.mail {
    position: absolute;
    left: 2.22%;
    right: 89.79%;
    top: 63.1%;
    bottom: 26.57%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #828282;
}

.number {
    position: absolute;
    left: 2.22%;
    right: 84.25%;
    top: 46.49%;
    bottom: 41.7%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
    display: flex;
    align-items: flex-end;
    font-feature-settings: 'cpsp' on;
    color: #A993FF;
}

.frame1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 26.48%;
    right: 63.31%;
    top: 21.4%;
    bottom: 26.2%;
}

.frame2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 51.04%;
    right: 38.76%;
    top: 21.4%;
    bottom: 26.2%;

}

.frame3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    left: 75.59%;
    right: 14.2%;
    top: 21.4%;
    bottom: 40.22%;
}

.frame_item1 {
    position: static;
    width: 140px;
    height: 28px;
    left: 0px;
    top: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 10px 0px;
}

.frame_item2 {
    position: static;
    width: 140px;
    height: 28px;
    left: 0px;
    top: 38px;

    /* desktop / base-font */

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */

    display: flex;
    align-items: flex-end;

    color: #000000;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 10px 0px;
}

.frame_item3 {
    position: static;
    width: 140px;
    height: 28px;
    left: 0px;
    top: 76px;
    
    /* desktop / base-font */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    display: flex;
    align-items: flex-end;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 10px 0px;
}

.frame_item4 {
    position: static;
    width: 140px;
    height: 28px;
    left: 0px;
    top: 114px;
    
    /* desktop / base-font */
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    
    display: flex;
    align-items: flex-end;
    
    color: #000000;
    
    
    /* Inside auto layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 10px 0px;
}

.logo_footer {
    position: absolute;
    left: 2.22%;
    right: 83.73%;
    top: 19.19%;
    bottom: 66.05%;
}

